Diego Yael Islas Santoyo

07/11/2024

# Problema del viajante

In [50]:
import pandas as pd
archivo = pd.read_excel("datosCT.xlsx", sheet_name="8c").set_index("Unnamed: 0")
archivo

,Tijuana,Mérida,GDL,México,León,Monterrey,Tapachula,Chihuahua
Unnamed: 0,,,,,,,,
Tijuana,0,4180,2306,2848,2529,2409,4005,1583
Mérida,4180,0,1874,1332,1719,2046,1062,2819
GDL,2306,1874,0,542,223,789,1699,1202
México,2848,1332,542,0,389,933,1157,1487
León,2529,1719,223,389,0,711,1544,1140
Monterrey,2409,2046,789,933,711,0,1803,826
Tapachula,4005,1062,1699,1157,1544,1803,0,2644
Chihuahua,1583,2819,1202,1487,1140,826,2644,0

In [48]:
import numpy as np
def ciudades_aleatorias(df):
    ciudades = df.index.tolist()
    np.random.shuffle(ciudades)
    return ciudades

ciudades_aleatorias(archivo)

['León',
 'Monterrey',
 'México',
 'Chihuahua',
 'Tapachula',
 'Mérida',
 'Tijuana',
 'GDL']

# PASO 1

In [93]:
def calcular_distancia(ruta,df):
    distancia_total = 0
    for i in range(len(ruta)-1):
        ciudad_actual = ruta[i]
        ciudad_siguiente = ruta[i + 1]
        distancia_total += df.loc[ciudad_actual, ciudad_siguiente]
    return distancia_total

**1.- Generamos 2 rutas aleatorias con los datos de la tabla**

In [95]:
ruta1 = ciudades_aleatorias(archivo)
ruta2 = ciudades_aleatorias(archivo)

**2.- Calculamos la distancia de las 2 rutas**

In [97]:
distancia1 = calcular_distancia(ruta1, archivo)
distancia2 = calcular_distancia(ruta2, archivo)

**3.- Creamos la condición**

In [99]:
if distancia1 < distancia2:
    ruta_mas_eficiente = ruta1
    distancia_mas_corta = distancia1
else:
    ruta_mas_eficiente = ruta2
    distancia_mas_corta = distancia2

In [118]:
print("La ruta 1 es:", ruta1)
print("La ruta 2 es:", ruta2)
print("La distancia 1 es:", distancia1)
print("La distancia 2 es:", distancia2)
print("La ruta más corta es:", distancia_mas_corta)

La ruta 1 es: ['México', 'GDL', 'León', 'Tapachula', 'Monterrey', 'Mérida', 'Tijuana', 'Chihuahua']
La ruta 2 es: ['León', 'Tapachula', 'GDL', 'Tijuana', 'Monterrey', 'Mérida', 'México', 'Chihuahua']
La distancia 1 es: 11921
La distancia 2 es: 12823
La ruta más corta es: 11921

# PASO 2

In [112]:
N = 100 
rutas = []
distancias = []

for i in range(N + 1):
    ruta = ciudades_aleatorias(archivo)
    distancia = calcular_distancia(ruta, archivo)
    rutas.append(ruta)
    distancias.append(distancia)

distancia_minima = min(distancias)
indice_minimo = distancias.index(distancia_minima)
ruta_mas_corta = rutas[indice_minimo]

In [120]:
print("Distancia mínima:", distancia_minima)
print("Ruta mas corta:", ruta_mas_corta)

Distancia mínima: 7218
Ruta mas corta: ['GDL', 'León', 'México', 'Mérida', 'Tapachula', 'Monterrey', 'Chihuahua', 'Tijuana']

# Paso 3

In [ ]:
T = 10
alpha = 0.9
mejor_ruta = ciudades_aleatorias(archivo)
mejor_distancia = calcular_distancia(mejor_ruta,archivo)


while T > 1:
    ruta = ciudades_aleatorias(archivo)
    distancia = calcular_distancia(ruta,archivo)

if distancia < mejor_distancia:
    mejor_ruta = ruta
    mejor_distancia = distancia
    T*= alpha

In [ ]:
print("La mejor ruta es:" mejor_ruta)
print("La mejor distancia es:" mejor_distancia)